<ion-header>
    <ion-toolbar>
      <ion-button fill="clear" color="dark" slot="start" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-label>
        我的购物车
      </ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card *ngIf="list.length>0">
      <ion-item *ngFor="let p of list">
        <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-card-title>
              <ion-label>{{p.title}}</ion-label>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label>{{p.subtitle}}</ion-label>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="3">
              <ion-label>{{p.price}}</ion-label>
          </ion-col>
          <ion-col size="2" >
              <ion-button>-</ion-button>
          </ion-col>
          <ion-col size="1">
            <ion-label>{{p.count}}</ion-label>
          </ion-col>
          <ion-col size="2">
              <ion-button>+</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
    </ion-card>
    <ion-toolbar>
      <ion-button color="success" slot="end">
         <ion-label>去结算</ion-label>
      </ion-button>
    </ion-toolbar>
  </ion-content>